html {
  height: 100%;
  width: 100%;
}

/* -------Background---------*/
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #8c52ff;
    overflow: hidden;
}

.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #7e49e5;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 6s ease-in forwards infinite;
}

undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 64vw;
    top: 75vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 68vw;
    top: 91vh;
    border-color: #9a5aff;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 6vw;
    top: 11vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 19vw;
    top: 41vh;
    border-color: #9a5aff;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 85vw;
    top: 29vh;
    border-color: #9a5aff;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 48vw;
    top: 59vh;
}

/* -------Layout---------*/
body {
  margin: 0;
  width: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 2.5rem; 
  padding-top: 1.5rem;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}

h2, p, figcaption {
  color: #EDE2C8;
  font: Lucida Console;
  width: 100%;
}

h1{
  color: #EDE2C8;
  font-family: 'Luckiest Guy';
  font-size: 50px;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}

.Tekst{
  float: left;
  border-width: 60px;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid; 
}

.hvideo {
  z-index: 150;
  padding-bottom: 50%;
  width: 100%;
}

/* -------NavBar---------*/
/* NAVIGATION */
nav {
  width: 100%;
  margin: 0%;
  background:  #EDE2C8;
  padding: 5px;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
  background: #EDE2C8;
}
nav ul li {
  display: inline-block;
    background: #EDE2C8;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
  margin: 0 10px;
   font-weight: 750;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .4s;
}
nav ul li a:hover {
  color: #555;
}

nav.navbar a:hover {
  color: #691EFC;
}

nav.navbar ul li a,
nav.fill ul li a {
  position: relative;
  float: none;
  margin: 0% auto;
  color: #EDE2C8;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
/*---streep---*/
nav.navbar ul li a,
nav.fill ul li a {
  position: relative;
}

nav.navbar ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}



/* -------Footer---------*/
.Contact {
  background-color: #EDE2C8;
  color: #8C52FF;
  font-size: 12px;
  position: static;
  width: 100%;
  z-index: 1000;
  margin-top: 450%;
  padding-bottom: 2%;
  margin-bottom: 1%;
}

/* -------Small Screen---------*/
@media only screen
  and (min-device-width: 100px)
  and (max-device-width: 320px) {

/* -------Layout Small Screen---------*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; 
  padding-top: 1.5rem;
  padding-left: 0%;
  padding-right: 0%;
}

h2, p, figcaption {
  color: #EDE2C8;
  font: Lucida Console;
  width: 30%;
  height: 8
}

h1 {
  color: #EDE2C8;
  font-family: 'Luckiest Guy';
  font-size: 50px;
  text-align: left;
  padding-top: 5%;
}

 .Tekst { 
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 2%;
    padding-bottom: 2%;
  }

.hvideo {
  z-index: 150;
  padding-bottom: 50%;
}

/* -------Calendar Small Screen---------*/
.Calendar {
  margin-bottom: 8%;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 9%;
  float: left;
  padding-left: 30px;
}

#calendar {
  float: left;
  text-align: left;
  margin-left: 30px;
  padding-left: 30px;
}

/* -------Fotoalbum Small Screen---------*/
  .left, .middle, .right {
   display: inline-block;
}

.left1, .middle1, .right1 {
  float: right;
  zoom: 90%;
  position: static;
  padding-bottom: 10%;
}

#Foto-album {
  height: auto;
  float: none;
  margin-left: 20%;
  padding-top: 10%;
  display: inline-block;
}

#Foto-album A {
  color:  #E5C26F;
  text-decoration: none;
}

/* -------Services Small Screen---------*/
  #did{
  float: left;
  position: static;
  margin-bottom: 10%;
  margin-left: 7%;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  height: 8%; 
  width: 30%;
  border-top-style: solid; 
  }

/* -------F.A.Q. Small Screen---------*/
.info {
  font-size: 12px;
  color: #E5C26F;
}
    .FAQ {
  border-width: 40%;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid;
  height: 8%;
  width: 100px;
}
  .FAQ A {
    color: #E5C26F;
  }
}


/* -------Medium Screen---------*/
@media only screen
  and (min-device-width: 321px) 
  and (max-device-width:768px) {
  
/* -------Layout Medium Screen---------*/
    .FHead {
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
    text-align: left; 
    float: top;
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 60px;
  }

  /* -------Footer---------*/
.Contact {
  background-color: #EDE2C8;
  color: #8C52FF;
  font-size: 12px;
  position: static;
  width: 100%;
  z-index: 1000;
  margin-top: 20%;
  padding-bottom: 2%;
}

#page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 2.5rem; 
  padding-top: 1.5rem;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}

h2, p, figcaption {
  color: #EDE2C8;
  font: Lucida Console;
  z-index: 1000;
  width: 100%;
}

 h1 {
  color: #EDE2C8;
  font-family: 'Luckiest Guy';
  font-size: 50px;
  text-align: left;
  padding-top: 5%;
  width: 100%;
}

 .Tekst { 
    margin-left: 0%;
    padding-left: 0%; 
    width: 100%;
  }

.hvideo {
  z-index: 150;
  padding-bottom: 50%;
  width: 100%;
}
/* -------Calendar Medium Screen---------*/
.Calendar {
  margin-bottom: 8%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 30px;
  width: 100%;
}
  iframe{
    width: 100%;
  }

#calendar {
  float: left;
  text-align: left;
  width: 100%;
}

/* -------Fotoalbum Medium Screen---------*/

  .left, .middle, .right {
  text-align: left;
  float: bottom;
  position: static;
  padding-bottom: 0%;
  padding-left: 0%;
  zoom: 90%;
  text-decoration: none;
  width: 100%;
}
.left1, .middle1, .right1 {
  text-align: left;
  float: bottom;
  position: static;
  padding-bottom: 0%;
  padding-left: 0%;
  zoom: 90%;
  text-decoration: none;
  width: 100%;
}
  .Fotos {
  height: auto;
  float: left;
  margin-left: 0%;
  margin-top: 10%;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

#Foto-album A {
  color:  #E5C26F;
  text-decoration: none;
  text-align: left;
  float: left;
  width: 100%;
}

/* -------Services Medium Screen---------*/
  #did{
    float: left;
    margin-right: 0%;
    margin-left:0%;
    margin-bottom: 0%;
    font-size: 12px;
    height: 5%;
    width: 100%;
  position: static;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid; 
  }


/* -------F.A.Q. Medium Screen---------*/
    .FHead1 {
    text-align: left; 
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 50px;
    width:100%;
  }

  .info {
  font-size: 12px;
  color: #E5C26F;
  width: 100%;
}
      .FAQ {
  border-width: 40%;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid;
  width: 100%;
  float: bottom;
  margin-top: 1%;
  margin-bottom: 1%;
}
  .FAQ A {
    color: #EDE2C8;
    width: 100%;
  }
}


/* -------Big Screen-------*/


@media only screen
  and (min-device-width: 768px) {

/* -------Layout Big Screen---------*/
  /* -------Footer---------*/
.Contact {
  background-color: #EDE2C8;
  color: #8C52FF;
  font-size: 12px;
  position: static;
  width: 100%;
  z-index: 1000;
  margin-top: 1%;
  padding-bottom: 1%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; 
  padding-top: 1.5rem;
  padding-left: 0%;
  padding-right: 0%;
}

h2, p, figcaption {
  color: #EDE2C8;
  font: Lucida Console;
  font-size: 25px;
}  
  .CHead {
    margin-top: 2%;
    text-align: center; 
    float: middle;
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 60px;
    padding-top: 10%;
  }
    .FHead {
    margin-top: 10%;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: left; 
    float: inline-start;
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 60px;
    padding-left: 41%;
  }
  .SHead {
    margin-top: 20%;
    text-align: center; 
    float: middle;
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 60px;
    padding-top: 5%;
  }
    .FHead1 {
    margin-top: 30%;
    text-align: center; 
    float: middle;
    color: #EDE2C8;
    font-family: 'Luckiest Guy';
    font-size: 60px;
    padding-top: 10%;
  }

.Tekst{
  float: left;
  width: 30%;
  margin-left: 7%;
  margin-right: 50px;
  border-width: 60px;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid; 
}

.hvideo {
  z-index: 150;
  padding-bottom: 50%;
}

/* -------Calendar Big Screen---------*/
.Calendar {
  margin-bottom: 8%;
  margin-left: 20%;
  margin-right: 9%;
  float: left;
  padding-left: 30px;
}

#calendar {
  float: left;
  text-align: left;
  margin-left: 30px;
  padding-left: 30px;
}

/* -------Fotoalbum Big Screen---------*/
  .left, .middle, .right {
   display: inline-block;
   padding-left: 9%;
}

.left1, .middle1, .right1 {
  float: right;
  zoom: 99%;
  position: static;
}

.Fotos A {
  color:  #E5C26F;
  text-decoration: none;
  float: middle;
  text-align: center;
}
  .Fotos {
  float: middle;
  margin-left: 20%;
  padding-top: 10%;
  text-align: center;
  padding-left: 40%;
 
  }

/* -------Services Big Screen---------*/
#did {
  float: left;
  position: static;
  margin-bottom: 10%;
  margin-left: 7%;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  height: 8%; 
  width: 30%;
  border-top-style: solid; 
}

/* -------F.A.Q. Big Screen---------*/
.info {
  font-size: 20px;
  color: #E5C26F;
}
    .FAQ {
  border-width: 60px;
  background-color:#AE85FE; 
  border: #691EFC 5px; 
  border-top-style: solid;
  height: 0.5%;
  width: 50%;
  margin-top: 1%;
  float: center;
  margin-left: 26%;
  padding-bottom: 2%;
}
  .FAQ A {
    color: #EDE2C8;
    margin-top: 25%;
    float: center;
  }
}